html {
  font-size: 1.225em;
}

#navi ul{
  list-style: none;
  line-height: 1.225em;
}

h1,
h2,
h3{
  text-align: center;
}

h1{
    font-size:1.5em;
}

h2,
h3{
  font-size: 1.0em;
  font-weight: bold;
}

  .contain{
  display: flex;
  flex-direction: row;
  margin:0.313em;
  padding:0.313em;
  justify-content: center;
  align-items: center;
}
.contain li{
  padding: 0.313em;
}

p {
  font-size: 0.688em;
  word-wrap: break-word;
  padding: .313em;
}

li{
  font-size: 0.688em;
}

img{
  max-width: 100%;
}
