/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* static items*/
html {
  font-size: 1.225em;
  padding: 0.315em;
}

.mainpage {
  align-self: center;
}

/* page layout */
/*font size changes*/

.ul #navi li {
  display: flex;
  flex-direction: row;
  padding-right: 0.313em;
  line-height: 1.225em;
}

h1,
h2,
h3,
section {
  text-align: center;
}


h1 {
  display: flex;
  font-size: 1.5em;
}

h2,
h3 {
  font-size: 1em;
  font-weight: bold;
}

p {
  font-size: 0.688em;
  word-wrap: break-word;
  padding: 0.313em;
}

li {
  font-size: 0.688em;
}

/*Box up items so that it becomes center */
.contain {
  display: flex;
  flex-direction: column;
  margin: 0.313em;
  padding: 0.313em, 0, 0, 0.313em;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.contain ul {
  flex-direction: row;
}

/*
up to 300 is 275 px
500+ img is 450 px
 */
#baseimg {
  max-width: 100%;
  align-content: center;
}
/* Trying to make responsive img sizes */
@media screen and (max-width: 300px) {
  #baseimg {
    max-width: 50%;
  }
  #caption {
    font-size: 0.626em;
  }
}

@media screen and (max-width: 500px) {
  #baseimg {
    max-width: 75%;
  }
}
